.App {
  height: 100%;
  margin: 0px 30px;
  background: transparent;
  overflow: hidden;
}

.App-container {
  background-color: #ffffff;
  margin: 30px 0px;
  border-radius: 10px;
  text-align: center;
  overflow-y: scroll;
  box-shadow: 0px 1px 5px -1px rgba(0,0,50, 0.5);
}

.App-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #282c34;
  box-shadow: 0px 2px 2px -2px rgba(0,0,50, 0.5);
}

.profiles-container {
  height: 80%;
  padding: 20px 20px 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.actions-container {
  padding: 20px 0px;
  width: 90%;
  margin: 0 auto;
}

.actions-container .row {
  padding: 5px 0px;
}

.profile-search {
  width: 60px;
  margin-right: 10px;
}

.row {
  display: flex;
}

.row.right {
  text-align: right;
  justify-content: flex-end;
}

.row.block {
  display: block;
}

.row .btn {
  margin-right: 5px;
}

.row .btn:last-child {
  margin-right: 0px;
}