body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial, Sans-Serif;
  /* background: rgb(45,183,253);
  background: linear-gradient(148deg, rgba(45,183,253,1) 0%, rgba(37,101,147,1) 100%); */
  background: rgb(255,231,63);
  background: linear-gradient(158deg, rgba(255,231,63,1) 0%, rgba(255,210,29,1) 100%);  
}

h1 {
  font-family: "Graphik Black", "Arial Black", Sans-Serif;
  font-weight: normal;
  font-size: 60px;
  line-height: 60px;
  text-shadow: 0px 1px 18px #666; 
  text-align: center;
  text-transform: uppercase;
}

.btn {
  height: 30px;
  line-height: 30px;
  font-weight: 400;
  opacity: 0.9;
  color: #fff;
  background-color: #ffb500;
  padding: 0px 10px;
  border: none;
  cursor: pointer;
  -webkit-transition: all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
  -moz-transition: all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
    -o-transition: all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
       transition: all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
  -webkit-transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750); 
    -moz-transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750); 
      -o-transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750); 
        transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
}

.btn:hover {
  opacity: 1;
  text-shadow: 1px 1px 2px black; 
  box-shadow: 0px 1px 5px -1px rgba(0,0,50, 0.5);
}

.btn.active {
  opacity: 1;
  color: #282c34;
  font-weight: 800;
}

button:disabled, button:disabled:hover {
  opacity: 0.3;
  background-color: #8f8f8f;
  cursor: none;
  text-shadow: none; 
  box-shadow: none;
}

.btn.wide {
  padding: 0px 15px;
}

.btn .icon {
  color: #ffffff;
}

.icon {
  fill: #282c34;
  height: 30px;
  line-height: 30px;
  width: 15px;
}

